.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 80vh;
}


.slider ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 300%;

    animation: cambio 15s infinite alternate;
}

.slider li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}

.slider img {
    width: 1400px;
    height: 700px;
    margin: auto;
}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    60% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}